* {
    margin: auto;
    padding: auto;
}

.cenario {
    position: absolute;
    background: #8587FF;
    width: 710px;
    height: 427px;
}

.chao{
    background: lemonchiffon;
    width: 30px;
    height: 27px;
    display: inline-block;
    margin-top: 400px;
    margin-left: -3px;
}
.bloco-1{
    background: #E07021;
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right:2px solid black;
    border-bottom:2px solid black;
    float: left;
}

.bloco-2{
    background: #E07021;
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right:2px solid black;
    border-bottom:2px solid black;
    float: left;
}

.bloco-3{
    clear: both;
    background: #E07021;
    width: 12px;
    height: 24px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right:2px solid black;
    border-bottom:2px solid black;
    float: right;
}

.mario{
    position: absolute;
    top: 300px;
    left: 150px;
    background: white;
    width: 34px;
    height: 30px;
    
}

.goomba{
    position: absolute;
    top: 368px;
    left: 190px;
    background: white;
    width: 34px;
    height: 30px;
    
}
.a1 {
    background: black;
    width: 2px;
    height: 2px;
    float: left;
}
.azul {
    background: blue;
    width: 2px;
    height: 2px;
    float: left;
}
.marrom {
    background: #89733C;
    width: 2px;
    height: 2px;
    float: left;
}
.marromm {
    background: #C66700;
    width: 2px;
    height: 2px;
    float: left;
}
.pele {
    background: #FAFEB8;
    width: 2px;
    height: 2px;
    float: left;
}

.red {
    background: red;
    width: 2px;
    height: 2px;
    float: left;
}
.roxo {
    background: #8287FF;

    width: 2px;
    height: 2px;
    float: left;
}

.amarelo {
    background: #FAFA00;

    width: 2px;
    height: 2px;
    float: left;
}

.preto {
    background: black;
    width: 2px;
    height: 2px;
    float: left;
}